body {
    margin: 0;
}

.header {
    background-image: url('../img/фон.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
}

.header-title {
    text-align: center;
    padding-top: 20%;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 100px 20px 50px 20px;
    text-align: center;
    
    }

.menu-item {
    border: 1px solid black;
    display: grid;
    background-color: #231B0C;
    text-align: center;
    
    
}

.menu-item > a {
    padding: 40px 50px  ;
    padding-left: 50px;
    padding-right: 50px;
}

.venice {
    margin-top: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    margin-bottom: 40px;
}

footer {
    width: 1500px;
    height: 279px;
    background-color: #150F02;
    text-align: center;
}

.other {
    list-style-position: inside;
    column-count: 2;
    list-style-type: decimal;
    padding-top: 40px;
    line-height: 3.5;
}
.contacts >p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 137.21%;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    border-bottom: 10px solid #FF6B00;
        width: 40%;
        bottom: 0;
        padding-bottom: 10px;
        margin: 20px auto;
}
.pics {
    text-align: center;
    color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
}