@media screen and (min-width: 1620px) {
    body {
        width: 1620px;
        margin: 0 auto; 
    }

}

@media screen and (max-width: 992px) {
.show {
        background-color: black;
}

.gal-items {
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0;
}   
    
.gal-left,
.gal-right {
    order: 1;
    width: 45%;
    padding: 0 1%;
}

.gal-center-left,
.gal-center-right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 0;
}

.gallery img {
    height: 95%;
}

.center-left1,
.center-left2,
.center-right1,
.center-right2 {
    width: 47%;
}

.gal-left,
.center-left1,
.center-right1 {
    animation: left-to-center 2s linear 1 forwards;
}

.gal-right,
.center-left2,
.center-right2 {
    animation: right-to-center 2s linear 1 forwards;
}

.services {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

 .services-left {
     width: 100%;
     height: 90vh;

 }

 .services-right {
    width: 100%;
 }
.our-team {
    display: flex;
    flex-wrap: wrap;
 }
 
 .team-photo {
    width: 45%;
    margin: 2%;
}



.team-photo .name {
    transition: 2s;

}


 .sendform-map {
     justify-content: center;
     text-align: center;
     flex-direction: column;
 }

 .sendform,
 .map {
     width: 100%;
     margin-top: 2rem;
     margin-bottom: 2rem;
 }

 .contacts {
    font-size: 1.7rem;
 }

}

@media screen and (max-width: 768px) {
    .gal-items {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        
    }

    .gal-center-left,
    .gal-center-right {
        display: flex;
        width: 100%;
            flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
    }

    .gal-left, 
    .gal-right {
        order: 0;
        width: 95%;
        animation: left-to-center 1s linear 1 forwards;
    }

    .center-left1,
    .center-left2,
    .center-right1,
    .center-right2 {
        width: 95%;
    }
    .center-left1 {
        animation: right-to-center 2s linear 1 forwards;
    }

    .center-left2 {
        animation: left-to-center 3s linear 1 forwards;
    }

    .center-right1 {
        animation: right-to-center 4s linear 1 forwards;
    }

    .center-right2 {
        animation: left-to-center 5s linear 1 forwards;
    }

    .gal-right {
        animation: right-to-center 5s linear 1 forwards;
    }

    .services {
        justify-items: center;
    }

    .services-right {
        display: none;
    }

    .services-left {
        width: 100%;
        height: 90vh;

    }


    .our-team {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .team-photo {
        width: 100%;
    }

    .team-photo .name {
        transition: height 1s;
    }

    .our-team:hover>div {
        filter: none
    }

    .sendform-map {

        justify-content: center;
        text-align: center;
        flex-direction: column-reverse;

    }

    .sendform,
    .map {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
.contacts {
    flex-direction: column;
}
.contacts >div {
    margin-top: 3%;
}
}



