body {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 10px;
    background-color: #FFB084;
    margin: 0;
}

section {
    margin: 5%;
    display: grid;
    grid-template-columns: 35% 30% 30%;
    gap: 22px;
}

.base {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 3%;
    box-shadow: 7px 7px  #000000;
}
.base p, li {
    font-size: 1.5em;
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 28px;
    text-align: center;
}

.base:first-child {
    grid-row: 1/7;
   ;
    
}
.base:first-child span {
    font-weight: 600;
    margin-left: 5%;
    
}

.base span {
    margin-left: 5%;
}

.base li {
    margin-left: 5%;
}

.photo {
    display: flex;
    justify-content: center;
    
}

.photo img {
    width: 40%;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 16px;
    
}

.bio {
    grid-column: 2/4;
    grid-row: 1/3;
}

.goals span {
    color: #29A71E;
}

.goals {
    box-shadow: 7px 7px #29A71E;
    grid-row: 3/5;
    grid-column: 2/3;
}

.frustrations span {
    color: #E13535;
}

.frustrations {
    box-shadow: 7px 7px #E13535;
    grid-column: 3/4;
    grid-row: 3/6;
}

.dream span {
    color: #3675B0;
}

.dream {
    box-shadow: 7px 7px #3675B0;
    grid-row: 5/8;
    grid-column: 2/3;
}

.personality {
    grid-row: 6/8;
    grid-column: 3/4;
}

.personality p {
    margin-left: 5%;
}

.base:last-child {
    grid-row-start: 7;
    padding-left: 5%;
}