body {
    background: #212529;   
}
.container {
    max-width: 1342px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
}
li {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;text-transform: capitalize;
    
    list-style-type: none;
    padding: 0 5%; 
}

li a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-item a:hover {
    color: #FFB742;
}


.hire-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    color: #212529;
    padding: 12px 26px;

}

.greetings {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

h4 {
font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    text-transform: capitalize;
    color: #FFFFFF;
}

h4 > span {
    color: #FFB742;
    text-decoration: underline;
}
h2 {
    font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 91px;
        align-items: center;
        text-transform: capitalize;
        color: #FFFFFF;
}

h4 {
    font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 51px;
        align-items: center;
        text-transform: capitalize;
        color: #FFFFFF;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.card {
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 25%;
}

.card:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card-expain p {
margin-block-start: 0;
margin-block-end: 0;
}

.card:hover p {
    color: #212529;
}

.card-value {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFB742;
}

.card-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.about  {
    display: flex;
    justify-content: space-between;
}

.title {
    border: 1px solid;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    padding: 5px 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    max-width: fit-content;
    
}

.title p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FFB742;
}

 h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.descr {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 55px;
}

.thinker {
    margin-right: 5%;
}

.thinker img {
    left: 0;
}
.about-me {
width: 50%;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.my-skills, .skills-logo {
    width: 45%;
}

.skills-logo {
    display: inline-block;
    justify-content: ;

}
 .skill-row {
    display: flex;
    justify-content: space-between;
 }

 .myskill-logo {
    border: 1px solid;
    border-radius: 7px;
    background-color: #383E45;
    
    padding: 10px;
    margin: 5px;
 }

 .myskill-logo:hover {
    background-color: #FFB742;
    opacity: 50%;
 }

.works {
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-bottom: 135px;
}

.title2 {
    border: 1px solid;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    padding: 5px 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.title2 p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FFB742;
    
}

.works-nav {
   width: 70%;
   margin: 20px auto;
}

.works-nav ul {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 48px;
}

.works-nav li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #1C1C1C;
}

.works-nav li:hover {
    border: 1px solid;
    background-color: #FFB742;
    border-radius: 3px;
    color: #212529;
    
}

.projects {
    display: flex;
    justify-content: space-evenly;
}

.my-projects >img {
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 39.2896px;
    line-height: 46px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.testimonials {
    margin-bottom: 250px;
}

.testim-title {
    margin-bottom: 100px;
}

.testim-card {
    display: flex;
    justify-content: space-evenly;
    
}

.testim-item {
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 7.92699px;
    
}
.testim-item > p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    margin-right: 30px;
    margin-left: 30px;
}

.stars {
    margin-top: 50px;
    margin-left: 30px;
}

.author {
    margin-left: 30px;
    margin-bottom: 45px;
    display: flex;
    justify-content: flex-start;
}
 h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
 }

.author-name {
    margin-left: 24px;
}
 .author-name h5 {
    margin-block-start: 0.2em;
    margin-block-end: 0em;
 }
 .author-name p {
    margin-block-start: 0.2em;
    margin-block-end: 0em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
 }

 footer {
    background: #1C1C1C;
    display: flex;
    justify-content: space-evenly;
 }

 .my-sign {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
 }

 .descr-sign {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
 }

 footer a {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
 }
 
 .links span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
    margin-bottom: 5px;
 }

 .sign {
    width: 22%;
 }
  
 .links {
    width: 22%;
 }
















 

