body {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    background: #F5F5F5;
    margin: 0;
}

.header_menu {
    background-color: #243B93;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
    
}

.header-nav {
    width: 33%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}
   
   
.nav_item > a, .lang {
    text-decoration: none;
    color: #FFFFFF;
    
}
.logo, nav {
    padding-right: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.lang {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    padding-left: 10px;
}
h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #202846;
    background-color: #BFF0FF;
    margin-top: 0;
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title {
    width: 100%;

}
.title >h2 {
    margin-bottom: 38px;
}
 .dropdown {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    width: 90%;
    color: rgba(0, 0, 0, 0.61);
    cursor: pointer;
    box-sizing: border-box;
    background: #FFFFFF;
    border-style: hidden;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .drop-text {
    align-items: center;
    text-align: center;
    
 }
.drop-text a {
    text-decoration: none;
}
 .drop-arrow {
    position: absolute;
    right: 10px;
    bottom: 0;
 }

 h3 {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    margin: 15px auto 3px 15px;
    border-bottom: 3px solid #FFFFFF;
    
}

.more {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    position: absolute;
    right: -20px;
    bottom: 15px;
    text-decoration: none;
    border-style: solid;
    border-style: hidden;
    background: #243B93;
    border-radius: 30px;
    padding: 5px 25px;
}
.choise {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card {
    display: flex;

}

.choise-item {
    padding-right: 10px;
    
    display: flex;
    position: relative;
    margin: 20px 10px;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
}

.star {
    position: absolute;
    right: 7px;
    fill: #FFFFFF;
}

.photo {
    margin: 33px 15px 21px 52px;
}

.choise-text {
    max-width: 60%;
}
.choise-text >p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    background: #EDFBFF;
    margin: 5px 0px 21px 15px;
    height: 205px;
    padding-top: 15px;
    padding-left: 15px;

}
.choise-item:hover svg{
    fill: #FFF500;
}

.choise-item:hover .more {
    background: #EF075B;
}

.choise-item:hover {
    box-shadow: 0px 0px 60px 4px #2CBDEB;
    background: #2CBDEB;
}

.private {
    margin-bottom: 60px;
    max-width: 1920px;
}

.private h2 {
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
}

.data {
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.common-data {
    display: flex;
    justify-content: space-evenly;
}

.avatar {
    display: grid;
    align-content: center;
    justify-items: center;
    margin: 70px 140px 0;
    
}
 .private  a {
    font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        
 }
.change-ava, .settings {
    border: 1px solid;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 7px 40px;
    margin-bottom: 30px;
}

.change-ava {
    background: #243B93;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settings {
    background: #EF075B;
}

.private-data {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    align-items: center;
    color: #353C57;
    margin-top: 40px;
    margin-bottom: 20px;
}

.private-data span {
    font-weight: 700;
}

.data a {
    text-decoration: none;
}


.out {
    text-align: center;
    width: 90%;
}
.out > a{
    color: #FFFFFF;
    text-align: center;
    border: 1px solid;
    background: #243B93;
    border-radius: 30px;
    padding: 7px 40px;
    text-decoration: none;
   
}

.data-item {
    border-bottom: 3px solid #FFFFFF;
    display: block;
    width: auto;
    padding-bottom: 10px;
    margin-top: -20px;
    
}

.contacts {
    max-width: 1920px;
}
.contacts h2 {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}

.contacts-data {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cont-data {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
 .cont-col p {
    margin-block-start: 0;
    margin-block-end: 1em;
    border-top: 3px solid #202846;
 }

.map {
    border: 3px solid #243B93;
    border-radius: 40px;
    
}

 iframe {
    border-radius: 40px;
    width: 499px;
        height: 290px;
}

.top img {
    position: fixed;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
}
footer {
    background-color: #243B93;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: grid;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    padding-left: 100px;
}
