body {
font-family: 'Roboto', sans-serif;
font-weight: 700;

}

.header {
    font-family: 'M plus 1';
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    
}

.header-blue {
    color: #3E45E8;
}

.header-yellow {
    color: #E8C23E;
}
.background {
width: 100%;
background-repeat: no-repeat;
background-position: center;

}

/* .poem {
       font-style: normal;
        font-size: 48px;
        line-height: 157.3%;
} */
 
.places-cont {
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
 }

 .ukrplaces {
    margin-top: 10px;
    padding: 0;
    border-radius: 35px;
    border: 4px solid black;
    word-wrap: break-word;
 }

 .tustan {  
    width: 391px;
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}
 .lutsk {
    width: 388px;
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);;
 }

.mohyla {
    width: 391px;
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
    color: #0072DB;
    margin-left: 13px;
}

h5 {
    font-size: 20px;
    color: #FF9900;
    margin-left: 13px;
    
}

.victory {
    text-align: center;
    margin-bottom: 42px;
}

.victory h3 {
    font-size: 40px;
    border-bottom: 7px solid #1400FF;
    width: 50%;
    padding-bottom: 10px;
    display: inline-block;
    
}


.btn {
    border-radius: 47px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-size: 64px;
    padding: 10px 207px;
    background-color: #2A61F0;
    text-align: center;    
    display: inline-flex;     
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    
}

footer {
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
}
.contacts {
    font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        text-align: center;
        color: #A89D9D;
        text-decoration: none;
        
}

.pics {
    text-align: center;
    margin-top: 7px;
}
.pics img {
    margin-left: 14px;
    margin-right: 14px;
    
}