@keyframes left-to-center {
    from {
        transform: translateX(-100vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes right-to-center {
    from {
        transform: translateX(100vh);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes left-to-left {
    from {
        transform: translateX(-100vh);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes right-to-right {
    from {
        transform: translateX(100vh);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes quarter1 {
    from {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }
    75% {
        top: 50%;
        left: 0;
    }
    to {
        top: 0;
        left: 0;
    }
}

@keyframes quarter2 {
    from {
        top: 0;
        left: 50%;
    }
    25% {
        top: 50%;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 0;
    }
    75% {
        top: 0;
        left: 0;
    }
    to {
        top: 0;
        left: 50%;
    }
}

@keyframes quarter3 {
    from {
        top: 50%;
        left: 0;
    }
    25%{
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 50%;
    }
    to {
        top: 50%;
        left: 0;
    }
}

@keyframes quarter4 {
    from {
        top: 50%;
        left: 50%;
    }
    25% {
        top: 50%;
        left: 0;
    }
    50% {
        top: 0;
        left: 0;
    }
    75% {
        top: 0;
        left: 50%;
    }
    to {
        top: 50%;
        left: 50%;
    }
}
