body {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    background: #000000;
    width: 100%;
    align-items: center;
    min-height: 10vh;
    top: 0;
    z-index: 1;
}



.nav ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    padding-right: 20px;
    
}

li {
    list-style-type: none;
    font-size: 36px;
    line-height: 44px;
    padding-left: 3rem;
}

li a {
    color: #FFFCFC;
    text-decoration: none;
}

.gallery {
    margin-top: 2rem;
    min-height: 90vh;
    overflow: hidden;
}

.gal-items {
    justify-content: space-between;
    display: flex;
}

.gal-left,
.gal-right {
    margin-top: auto;
    margin-bottom: auto;
}

.gal-center-right,
.gal-center-left {
    display: flex;
    flex-direction: column;
    
}


.gal-center-right img,
.gal-center-left img {
    margin-bottom: 2rem;
}

.gal-center-left {
animation: left-to-center 1s linear 1 forwards;
}

.gal-center-right {
   animation: right-to-center 1s linear 1 forwards;
}
.gal-left {
    animation: left-to-left 2s linear 1 forwards;
}

.gal-right {
    animation: right-to-right 2s linear 1 forwards;
}




.services {
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
}

.services p {
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    text-align: center;
    
}

.services-left {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
}

.services-left >div {
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.services-right {
    width: 40%;
}

.left-top,
.left-bottom {
    width: 45%;
    margin: auto;
    
}

.left-left-top,
.left-right-top,
.left-left-bottom,
.left-right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-left-top {
    top: 0;
    left: 0;
    animation: quarter1 7s linear infinite;
}
.left-right-top {
    top: 0;
    left: 50%;
    animation: quarter2 7s linear infinite;
}
.left-left-bottom {
    top: 50%;
    left: 0;
    animation: quarter3 7s linear infinite;
}

.left-right-bottom {
    top: 50%;
    left: 50%;
    animation: quarter4 7s linear infinite;
}






.team {
    min-height: 90vh;
}

h2 {
    font-style: normal; 
    font-size: 96px;
    line-height: 116px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.our-team {
    display: flex;
    justify-content: space-evenly;
    
}

.our-team >div {
    position: relative;
}
.our-team:hover >div{
    filter: brightness(.5);
}

.our-team >div:hover {
    filter: none;
}

.contact-us {
    min-height: 90vh;
}

.sendform-map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    padding-left: 3%;
    
}

.our-team .name {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 40px;
    font-size: 2rem;
    color: #FFFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ;
}


.our-team >div:hover .name {
    height: 20%;
}


.sendform {
    width: 55%;
          
}

.send-first-row input {
    width: 45%;
}

form {
    margin: auto;
}

legend {
    font-size: 64px;
    line-height: 78px;
    text-align: center;
}

.container {
    
    background-color: #E5E5E5;
    padding: 3%;
}



.send-first-row {
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input, textarea {
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    align-items: center;
    color: #000000;
    padding: 5px 0;
}

:placeholder-shown {
    font-style: normal;
        font-size: 36px;
        line-height: 44px;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
    }

textarea {
    resize: none;
    width: 100%;
    height: 5em;
}



.map {
    width: 45%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.contacts a{
    text-decoration: none;
}
 
.contacts span {
    font-style: normal;
    font-weight: 700;
    
}
.contacts {
    font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.social-items {
    text-align: left;
    margin-left: 3rem;
    
}