body {
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
}

.container {
    max-width: 1000px;
}
.creativity {
    display: flex;
    justify-content: space-between;
}

.forms {
    background: #FFFFFF;
    width: 55%;
}

.container {
    margin: auto;
    padding-top: 100px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-left: 30px;
}

.forms-item {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

input {
    width: 100%;
}

h3 {
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin-top: 100px;
    
}

h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #A8A8A8;
}

label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-block-end: 0;
    
}

.form-name span {
    font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #A8A8A8;
}



.slogan {
    width: 45%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
}

.signup {
    text-align: center;
    margin-top: 90px;
}

.signup input {
    cursor: pointer;
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 100%;
    text-decoration: none;
    display: inline-block;
}
h4 {
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
}

.nav a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li {
margin-right: 24px;
}

.quote {
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}


h1 {
    font-size: 48px;
    line-height: 60px;
    margin-top: 10rem;
    margin-block-end: 0.1em;
}

.quote p {
    margin-block-start: 0;
}